.portada {
  height: 50vh;
  width: 100vw; }

.bg-blue {
  background-color: #004999; }

.bg-orange {
  background-color: #EF7B10; }

.bg-black {
  background-color: #000; }

.bg-white {
  background-color: #fff; }

.bg-gray {
  background-color: #ABABAB; }

.blue {
  color: #004999; }

.orange {
  color: #EF7B10; }

.white {
  color: #fff; }

.black {
  color: #000; }

.gray {
  color: #ABABAB; }
